body {
  background: dodgerblue;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.nav{
  background-color: lightgrey;
  font-size: 25px;
  text-align: center;
  padding: 13px;

}

.nav a{
  color: dodgerblue;
  text-decoration: none;
  border: 1px solid darkgrey;
  background-color: darkgrey;
  border-radius: 5px;
  clear:both;
  text-align: center;
  display: block;
  margin: 5px 0;
}

.linker{
  text-align: center;
  width: 300px;
  margin: auto;

}

.title{
  text-align: center;
  margin: 0;
  font-size: 46px;
}


.results{
  text-align: center;
  padding-left: 0;
  color: lightgrey;
}
span.gc-cs-link {
    color: inherit;
    text-decoration: none;

}
ul{
  list-style: none;
  padding-left: 0;
}

form{
  text-align: center;
  font-size: 20px;
}

form button{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;

}

form input{
  width: 200px;
  padding: 5px;
}

li{
  font-size: 20px;
}

.edit{
  text-decoration: none;
  background-color: darkgrey;
  border: 1px solid darkgrey;
  color: dodgerblue;
  border-radius: 5px;
  text-align: center;
}
